@import 'colors';

.todos {
  &-header {
    text-align: center;
  }
}

.todo {
  text-align: right;
  margin-bottom: .5rem;
  width:100%;
  position: relative;

  * {
    font-size: 1rem;
  }

  button {
    width: 30px;
  }

  .todo-field {
    border: none;
    border-bottom: 2px solid $darkgrey;
    width: 20rem;

    &:focus {
      outline: none;
      border-color: $yellow;

    }
  }

  .todo-delete {
    border: none;

    &:hover {
      cursor: pointer;
      color: $red;
    }
  }

  &.complete {
    * {
      color: $lightgrey;
      border-color: $lightgrey;
    }

    .todo-field {
      text-decoration: line-through;
    }
  }
}

.new-todo {
  height: 1.5rem;
  
  .todo-create {
    border: none;
    font-size: 1.5rem;

    &:hover {
      cursor: pointer;
      color: $green;
    }
  }
}